*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:"Inter",sans-serif;

    height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    background:
        radial-gradient(circle at top,#4f8cff30,transparent 45%),
        radial-gradient(circle at bottom,#8a4dff30,transparent 45%),
        #091321;

    overflow:hidden;

}

.background{

    position:fixed;

    inset:0;

    background:
        radial-gradient(circle at top left,#4f8cff20,transparent 30%),
        radial-gradient(circle at bottom right,#8a4dff20,transparent 30%);

    animation:floatBG 10s ease-in-out infinite alternate;

}

@keyframes floatBG{

from{

transform:translateY(-20px);

}

to{

transform:translateY(20px);

}

}

.login-container{

    position:relative;

    z-index:10;

    width:430px;

    padding:48px;

    border-radius:30px;

    background:rgba(18,27,45,.92);

    border:1px solid rgba(255,255,255,.08);

    backdrop-filter:blur(18px);

    box-shadow:

    0 20px 80px rgba(0,0,0,.45),

    0 0 80px rgba(79,140,255,.08);

}

.logo{

    width:80px;

    height:80px;

    margin:auto;

    border-radius:24px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:38px;

    color:white;

    background:

    linear-gradient(135deg,#4f8cff,#8a4dff);

    box-shadow:

    0 0 35px rgba(79,140,255,.4);

}

h1{

    margin-top:22px;

    text-align:center;

    color:white;

    font-size:36px;

    font-weight:700;

}

h1 span{

    color:#79a9ff;

}

.subtitle{

    margin-top:10px;

    text-align:center;

    color:#9aa4c7;

    margin-bottom:35px;

}

.alert{

    margin-bottom:20px;

    padding:14px;

    border-radius:14px;

    background:#5b1c1c;

    color:white;

    font-size:14px;

}

.input-group{

    margin-bottom:18px;

}

input{

    width:100%;

    padding:17px;

    border-radius:16px;

    border:1px solid transparent;

    background:#1c2740;

    color:white;

    font-size:15px;

    transition:.25s;

}

input:focus{

    outline:none;

    border-color:#4f8cff;

    box-shadow:0 0 20px rgba(79,140,255,.25);

}

button{

    width:100%;

    padding:17px;

    border:none;

    border-radius:16px;

    cursor:pointer;

    font-size:16px;

    font-weight:600;

    color:white;

    background:

    linear-gradient(135deg,#4f8cff,#8a4dff);

    transition:.25s;

}

button:hover{

    transform:translateY(-3px);

    box-shadow:0 12px 25px rgba(79,140,255,.35);

}

.footer{

    margin-top:28px;

    text-align:center;

    color:#9aa4c7;

    font-size:14px;

}

.footer a{

    color:#79a9ff;

    text-decoration:none;

}

.footer a:hover{

    text-decoration:underline;

}
